.button {
  background: #FF5500;
  border: 2px solid #FF5500;
  color: #fff;
  border-radius: 35px;
  padding: 18px 53px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: .5s;
}

.button:hover {
  transition: .5s;
  background: #FF3D00;
  cursor: pointer;
}

.button.light {
  display: flex;
  margin-top: auto;
  color: #FF5500;
  border: 2px solid #FF5500;
  background: #fff;
  margin-bottom: 53px;
  transition: .5s;
}

.button.light:hover {
  transition: .5s;
  background: #FF3D00;
  color: #fff;
  border-radius: 35px;
  padding: 18px 53px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button.grey {
  display: flex;
  margin-top: auto;
  color: #fff;
  border: 2px solid #8E8E8E;
  background: #8E8E8E;
  transition: .5s;
  margin-right: 13px;
}

.button.grey:hover {
  transition: .5s;
  background: #2B2B2B;
  border: 2px solid #2B2B2B;
  color: #fff;
  border-radius: 35px;
  padding: 18px 53px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button.about__btn--orange {
  position: relative;
  padding: 18px 40.5px;
  top: 29px;
  margin-left: 2px;
}

.button.enter {
  padding: 18px 58px;
}