.footer {
  min-height: 146px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__column {
  display: flex;
  justify-content: space-between;
}

.footer__column:nth-child(1) {
  margin-bottom: 2.64px;
}

.footer__column:nth-child(2) {
  margin-bottom: 5.64px;
  padding-left: 55px;
}

.footer__column:nth-child(3) {
  margin-bottom: 3.64px;
  padding-left: 45px;
}