.header {
  height: 129px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-bottom: 101px; */
}

.header__column {
  display: flex;
  justify-content: flex-start;
  margin-top: 21px;
}

.header__column--center {
  justify-content: center;
  margin-top: 40px;
}

.header__column--right {
  justify-content: flex-end;
  margin-top: 28px;
}