.menu {
  display: flex;
  margin-bottom: 8px;
  /* margin-left: 35px; */
}

.menu__item {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin-right: 54px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  transition: .5s;
}

.menu__link:hover {
  transition: .5s;
  color: #FF3D00;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
}