.reviews__page-content {
  padding: 40px 0px 85px;
}

.reviews {
  column-count: 2;
  column-gap: 27px;
  margin-top: 54px;
  margin-bottom: 54px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 28px 32.5px 31px;
  background: #F4F5F5;
}

.reviews__item {
  margin-bottom: 17px;
  border-radius: 5px;
}

.review__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.review__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avatar {
  width: 142px;
  height: 142px;
  overflow: hidden;
  margin-right: 20px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #1A1B1E;
  margin-bottom: 3px;
  margin-top: 13px;
}

.review__user:hover {
  color: #2E77A4;
  text-decoration: underline;
}

.review__user:after {
  content: url("../../img/icon/vk-blue1.png");
  height: 29px;
  margin-left: 7px;
}

/* .review__tag-item {

} */

.review__title {
  width: 462px;
  font-size: 30px;
  font-weight: 700;
  color: #202020;
  margin-bottom: 13px;
  line-height: 1.4;
}

.review__content-text {
  color: #818181;
  margin-bottom: 48.5px;
  line-height: 1.68;
}

.review__date {
  font-size: 14px;
  font-weight: 600;
  color: #1A1B1E;
}