.services__item {
  margin-top: 53px;
}

.services__item:last-child {
  margin-top: 13px;
  margin-bottom: 23px;
}

.service {
  display: flex;
}

.service__img {
  width: 30%;
  margin-right: 15.5%;
}

.service__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-top: 1%;
}

.service__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 28.5px;
}

.service__desc {
  line-height: 1.36;
  margin-bottom: 20px;
  line-height: 1.68;
}
